{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <section name="title-description" id="title-description">
        <h1 id="title"> <b>{{ movie.title}}</b> <small>({{ movie.year }})</small> </h1>
        <h5 id="rincian"> {{ movie.rated }} | {{ movie.runtime }} | {{ movie.genre}} | {{ movie.released }} </h5>
        <h2 id="rating"> Rating : {{ movie.imdbrating }}<small>/10</small></h2>
    </section>    
    
    <section name="description" id="description">
        <div class="col-sm-6" id="cover">
            <img id="cover" src="{{ movie.poster }}" alt="">
        </div>
            
        <div class="description">
            <div class="col-sm-6" id="info">
                <h2>Details</h2>
                <table class="table-bordered">
                    <tr>
                        <th id="properties">Plot</th>
                        <th>{{ movie.plot }}</th>
                    </tr>
                    <tr>
                        <th id="properties">Directors</th>
                        <th>{{ movie.director }}</th>
                    </tr>
                    <tr>
                        <th id="properties">Writers</th>
                        <th>{{ movie.writer}}</th>
                    <tr>
                        <th id="properties">Actors</th>
                        <th>{{ movie.actors }}</th>
                    </tr>
                    <tr>
                        <th id="properties">Production</th>
                        <th>{{ movie.production }}</th>
                    </tr>
                    <tr>
                        <th id="properties">Awards</th>
                        <th>{{ movie.awards }}</th>
                    </tr>
                    
                </table>
        </div>

        <div class="box">
            {% if added %}
            <button class="btn btn-success"> Added to Watch Later </button>
            {% else %}
            <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
            {% endif%}
        </div>
    </section>    


</div>
{% endblock %}