{% extends "lab_10/layout/base.html" %}

{% block content %}
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Watch Later List</h2>
        <div class="flex">
            {% if watch_later_movies %}
                {% for movie in watch_later_movies %}
                    <div class="flex-item">
                        <div class="watch-later-list">
                            <div class="movie-title">
                                {{movie.title}}
                            </div>
                            <div class="movie-released">
                                {{movie.released}}
                            </div>
                            <img id="cover" src="{{movie.poster}}" class="movie-genre"></img>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> No movie yet.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}