#title-description{
  min-height: 150px;
  background: #9900CC;
}
#rating{
  color: #FFCC00
}
#description{
  position: fixed;
  min-height: 450px;
  padding-right: 100px;
  background: #9933FF;
}
#cover{
  padding-top: 10px;	
}
#info{
	padding-right: 50px;
}
#properties{
	padding-right: 20px;
}
tr{
    padding-top:10px;
}
th{
    padding-top:10px;
}
.box{
	margin-top: 40px;
}