section{
  min-height: 600px;
}
#title-description{
  background: linear-gradient(to bottom right, #606062, #393939);
}
#description{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}