{% extends "lab_4/layout/base.html" %}
        
{% block content %}
{% load staticfiles %}
<h1 style="color: #FFFF66"><b>Portofolio</b></h1>
<hr/>
<section name="bio">
    <h2 style="color: #66FFCC"><b>Bio</b></h2>
    <p>
    <img class ="img-circle" src="{% static "foto.jpg" %}" alt="My image" width="130" height="170"/>
    <p style="color: #66FFCC"> 
        Hi, My name is Mohammad Ahnaf Zain Ilham
        <br>
        {{content}}
    </p>	
</section>
<hr/>
<section name="about_me">
    <h2 style="color: #66FFCC"><b>List</b></h2>
    <ul style="color: #66FFCC">
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>

<section name="form">
    <h2 style="color: #66FFCC"><b>Send Message</b></h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="color: #66FFCC">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

<hr/>
{% endblock %}