<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">Lab-9</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Home</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li id="sign"></li>
   </ul>
</div></nav>
