<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
 <p style="font-family:courier;"><center> &copy; Made with Love by Mohammad Ahnaf Zain Ilham</center></p>